body {
  font-family: "Irish Grover", "Roboto", "Ubuntu", "Arial", sans-serif;
  height: 100%;
  height: 100vh;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 70px 0 32px 0;
  background: url("assets/home/sm/bg.png") no-repeat bottom center fixed;
  background-position: center calc(100vh - 70vh);
}

/* w 320px - mobile */
@media screen and (min-width: 320px) and (min-height: 583px) {
  body {
    background-position: center calc(100vh - 80vh);
  }
}

@media screen and (min-width: 320px) and (min-height: 746px) {
  body {
    background-position: center bottom;
  }
}

/* w 375px - mobile M */
@media screen and (min-width: 375px) and (min-height: 600px) {
  body {
    background-position: center calc(100vh - 85vh);
    background-size: contain;
  }
}

@media screen and (min-width: 375px) and (min-height: 750px) {
  body {
    background-position: center bottom;
  }
}

/* w 425px - mobile L */
@media screen and (min-width: 425px) {
  body {
    background-position: center calc(100vh - 80vh);
    background-size: cover;
  }
}

@media screen and (min-width: 425px) and (min-height: 685px) {
  body {
    background-size: contain;
  }
}

@media screen and (min-width: 425px) and (min-height: 780px) {
  body {
    background-position: center bottom;
  }
}

/* 540px */
@media screen and (min-width: 540px) {
  body {
    background-position: center calc(100vh - 90vh);
    background-size: cover;
  }
}

@media screen and (min-width: 540px) and (min-height: 860px) {
  body {
    background-size: contain;
    background-position: center bottom;
  }
}

/* Split Bgs */
@media screen and (min-width: 574px) and (min-aspect-ratio: 0.5) {
  body {
    background: url("assets/home/lg/bg-right.png") no-repeat bottom right/90%,
      url("assets/home/lg/bg-left.png") no-repeat bottom left/55%;
  }
}

@media screen and (min-width: 668px) and (min-aspect-ratio: 0.5) {
  body {
    background: url("assets/home/lg/bg-right.png") no-repeat bottom right,
      url("assets/home/lg/bg-left.png") no-repeat bottom left;
    background-size: 60vh auto, 35vh auto;
  }
}

/* w 768px - tablet */
@media screen and (min-width: 768px) {
  body {
    background-attachment: fixed, fixed;
    background-size: 73vh auto, 40vh auto;
  }
}

@media screen and (min-width: 768px) and (min-height: 590px) {
  body {
    background-size: 60vh auto, 35vh auto;
  }
}

@media screen and (min-width: 768px) and (min-height: 800px) {
  body {
    background-size: 55vh auto, 30vh auto;
  }
}

@media screen and (min-width: 768px) and (min-height: 1024px) {
  body {
    background-size: 45vh auto, 25vh auto;
  }
}

@media screen and (min-width: 768px) and (min-height: 1250px) {
  body {
    background-size: 40vh auto, 23vh auto;
  }
}

@media screen and (min-width: 768px) and (min-height: 1250px) {
  body {
    background-size: 40vh auto, 23vh auto;
  }
}

/* w 1024px (912px) - laptop */
@media screen and (min-width: 912px) {
  body {
    background-size: 50vh auto, 30vh auto;
  }
}

@media screen and (min-width: 912px) and (min-height: 1400px) {
  body {
    background-size: 45vh auto, 25vh auto;
  }
}

/* w 2560px (200px) - 4k */
@media screen and (min-width: 2000px) {
  body {
    background-size: 60vh auto, 40vh auto;
  }
}

img#logo {
  width: 230px;
}

main#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

main#container a {
  text-decoration: none;
  line-height: 100%;
  color: #ffffff;
}

@property --button-gradient-start {
  syntax: "<percentage>";
  initial-value: 13.52%;
  inherits: false;
}

@property --button-gradient-end {
  syntax: "<percentage>";
  initial-value: 98.72%;
  inherits: false;
}

main#container a#start-button {
  font-size: 1.5rem;
  background: linear-gradient(
    96.1deg,
    #b51e79 var(--button-gradient-start),
    #398e9c var(--button-gradient-end)
  );
  border-radius: 1rem;
  padding: 1rem 2.4rem;
  box-shadow: 0px 5.03px 11.17px 0px #8930841a, 0px 20.1px 20.1px 0px #89308417,
    0px 45.79px 27.36px 0px #8930840d, 0px 80.97px 32.39px 0px #89308403,
    0px 126.76px 35.74px 0px #89308400;
  transition: --button-gradient-start 1s, --button-gradient-end 1s,
    transform 0.3s;
}

main#container a#start-button:hover,
main#container a#start-button:focus {
  --button-gradient-start: 3%;
  --button-gradient-end: 80%;
  transform: scale(1.03);
}

main#container a#rules-button {
  font-size: 1.25rem;
  text-decoration: underline;
  text-shadow: 0px 3.01px 6.69px rgba(137, 48, 132, 0.106),
    0px 12.04px 12.04px rgba(137, 48, 132, 0.14),
    0px 27.44px 16.39px rgba(137, 48, 132, 0.1),
    0px 48.51px 19.41px rgba(137, 48, 132, 0.09),
    0px 75.95px 21.41px rgba(137, 48, 132, 0),
    0px 118.69px 24.74px rgba(137, 48, 132, 0);
  transition: filter 0.3s;
}

main#container a#rules-button:hover,
main#container a#rules-button:focus {
  filter: brightness(1.2);
}

@media screen and (min-width: 768px) and (min-aspect-ratio: 0.8) {
  main#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 22px;
  }

  main#container a#rules-button {
    color: #7c3b45;
  }
}

@media screen and (min-width: 820px) and (min-height: 680px) and (max-height: 1400px),
  screen and (min-width: 768px) and (min-height: 1024px) {
  img#logo {
    width: 500px;
  }

  main#container a#start-button {
    font-size: 2.5rem;
    border-radius: 1.5rem;
    padding: 1.6rem 4.6rem;
  }

  main#container a#rules-button {
    font-size: 2.25rem;
    text-decoration: underline;
  }
}